<section class="info">
    <div class="info-wrapper">
        <div class="info-container">
            <div class="info-part">
                <h2 class="title-info">Education</h2>
                <ul class="list-info">
                    <li class="item-info">
                        <div class="item-info-title">
                            <h3>Kyiv University T. Shevchenko</h3>
                        <p> 09.1987 - 05.1993</p>
                        </div>
                        <p class="item-info-text" >Zawod: fizyk</p>
                    </li>
                    <li class="item-info">
                        <div class="item-info-title">
                            <h3>Institute of Phisycs</h3>
                        <p>  09.1993 - 05.1995</p>
                        </div>
                        <p class="item-info-text">Zawod: aspirant</p>
                    </li>
                    <li class="item-info">
                        <div class="item-info-title">
                        <h3>GoIT kursy programista</h3>
                    <p> 08.2023 - 06.2024</p>
                    </div>
                        <p class="item-info-text">Zawod: Fullstack developer</p>
                    </li>
                </ul>
            </div>
            <div class="info-part">
                <h2 class="title-info">Experience</h2>
                <ul class="list-info">
                    <li class="item-info">
                        <div class="item-info-title">
                            <h3>Promplast</h3>
                        <p> 04.2005 - 05.2010</p>
                        </div>
                        <p class="item-info-text">Posada: Seller of Chillers</p>
                    </li>
                    <li class="item-info">
                        <div class="item-info-title">
                            <h3>Ecosystems</h3>
                        <p> 09.2010 - 04.2013</p>
                        </div>
                        <p class="item-info-text">Posada: Seller of chemical product</p>
                    </li>
                    <li class="item-info">
                        <div class="item-info-title">
                            <h3>Own store</h3>
                        <p> 07.2013 - 06.2023</p>
                        </div>
                        <p class="item-info-text">Posada: Owner</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="side-bar">
            <div>
                <h2>Contacts</h2>
            </div>
            <div>
                <h2>Tech Skills</h2>
            </div>
            <div>
                <h2>Soft Skills</h2>
            </div>
            <div>
                <h2>Languiges</h2>
            </div>
        </div>
    </div>

</section>