<section class="article">
    <div class="info-container">
            <div class="info">
                <h2 class="title-info">Education</h2>
                <ul class="list-info">
                    <li class="item-info">
                        <p>Kyiv University T. Shevchenko</p>
                        <p>Data : 09.1987 - 05.1993</p>
                        <p>Zawod: fizyk</p>
                    </li>
                    <li class="item-info">
                        <p>Institute of Phisycs</p>
                        <p>Data : 09.1993 - 05.1995</p>
                        <p>Zawod: aspirant</p>
                    </li>
                    <li class="item-info">
                        <p>GoIT kursy programista</p>
                        <p>Data : 08.2023 - 06.2024</p>
                        <p>Zawod: Fullstack developer</p>
                    </li>
                </ul>
            </div>
            <div class="info">
                <h2 class="title-info">Expirience</h2>
                <ul class="list-info">
                    <li class="item-info">
                        <p>Promplast</p>
                        <p>Data : 04.2005 - 05.2010</p>
                        <p>Posada: Seller of Chillers</p>
                    </li>
                    <li class="item-info">
                        <p>Ecosystems</p>
                        <p>Data : 09.2010 - 04.2013</p>
                        <p>Posada: Seller of chemical product</p>
                    </li>
                    <li class="item-info">
                        <p>Own store</p>
                        <p>Data : 07.2013 - 06.2023</p>
                        <p>Posada: Owner</p>
                    </li>
                </ul>
            </div>
    </div>
    <div class="side-bar">
        <div>
            <h2>Contacts</h2>
        </div>
        <div>
            <h2>Tech Skills</h2>
        </div>
        <div>
            <h2>Soft Skills</h2>
        </div>
        <div>
            <h2>Languiges</h2>
        </div>
    </div>
</section>