<section class="info">
    <div class="info-wrapper">
        <div class="info-container">
            <div class="info-part">
                <h2 class="title-info">doświadczenie zawodowe</h2>
                <ul class="list-info">
                    <li class="item-info">
                        <div class="item-info-title">
                            <h3>Biznes rodzinny</h3>
                        <p> 04.2013 - 05.2022</p>
                        </div>
                        <p class="item-info-text">mały sklep z odzieżą, samozatrudniony, logistyka, księgowość</p>
                    </li>
                    <li class="item-info">
                        <div class="item-info-title">
                            <h3>Ecosystems</h3>
                        <p> 09.2010 - 04.2013</p>
                        </div>
                        <p class="item-info-text">kierownik sprzedaży, sprzedaż profesjonalnej chemii gospodarczej</p>
                    </li>
                    
                </ul>
            </div>
            <div class="info-part">
                <h2 class="title-info">edukacja</h2>
                <ul class="list-info">
                    <li class="item-info">
                        <div class="item-info-title">
                        <h3>GoIT</h3>
                    <p> 08.2023 - 06.2024</p>
                    </div>
                        <p class="item-info-text">szkoła IT - technologia informacyjna</p>
                    </li>
                    <li class="item-info">
                        <div class="item-info-title">
                            <h3>Narodowy Uniwersytet Tarasa Szewczenki w Kijowie</h3>
                        <p> 09.1987 - 05.1993</p>
                        </div>
                        <p class="item-info-text" >stopień inżyniera * fizyk</p>
                    </li>
                    
                    
                </ul>
            </div>
            
        </div>
        <div class="side-bar">
            <div>
                <h2 class="side-title">Kontakt</h2>
                <ul>
                    <li>tel: 794536088</li>
                    <li>email: aviniichuk@gmail.com</li>
                    <li>Warszawa, Ursus</li>
                </ul>
                
            </div>
            <div>
                <h2 class="side-title">Tech Skills</h2>
                <ul>
                    <li>HTML, CSS, JS, React</li>
                    <li>Word, Exel</li>
                    <li>Prawo jazdy kat B</li>
                </ul>
                
            </div>
            <div>
                <h2 class="side-title">Soft Skills</h2>
                <ul>
                    <li>komunikatywność</li>
                    <li>umiejętność pracy w zespole</li>
                    <li>dobra organizacja pracy</li>
                </ul>
            </div>
            <div>
                <h2 class="side-title">Języki</h2>
                <ul>
                    <li>Polski - poziom komunikatywny </li>
                    <li>Angelski - poziom średnio zaawansowany</li>
                    <li>Ukraiński - ojczysty</li>
                </ul>
                
            </div>
        </div>
    </div>

</section>